<!-- Swetrix Analytics -->
<script src="https://swetrix.org/swetrix.js" defer></script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    swetrix.init('YZCD5K5ShWGT', {
      apiURL: 'https://analytics-api.kieks.me/log',
    })
    swetrix.trackViews()
    swetrix.trackErrors({
      sampleRate: 1,
    })
  })
</script>

<noscript>
  <img
    src="https://analytics-api.kieks.me/log/noscript?pid=YZCD5K5ShWGT"
    alt=""
    referrerpolicy="no-referrer-when-downgrade"
  />
</noscript>
